.ScoreContainer {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.icon {
  transition: 0.4s all ease;
  cursor: pointer;
}

.icon:hover {
  color: rgb(165, 165, 165);
}

.votes {
  color: lightblue;
  font-size: 12px;
}

.percentage {
  font-size: 20px;
  font-weight: 600;
}
