* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.body {
  background-color: rgb(15, 15, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.color {
  background-color: #0e4173;
  width: 120%;
  color: white;
}
h1 {
  color: #1976d2;
}
