* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-image: linear-gradient(120deg, #55616a, #151e26, #0b1016);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.color {
  background-color: #32455a;
  width: 120%;
  color: white;
}
h1 {
  color: #0e161d;
}
