* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-image: linear-gradient(
    120deg,
    #616a71,
    #4a555d,
    hsl(207, 26%, 25%),
    #17202a
  );
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.color {
  background-color: #3d5067;
  width: 107%;
}
h1 {
  color: #09121a;
  font-size: 39px;
}
