body {
  background-image: linear-gradient(
    120deg,
    #52595f,
    #4a555d,
    #4a555d,
    hsl(208, 25%, 22%),
    #1f2e3d
  );
}
.header {
  width: 100vw;
  height: 10vh;
  background-color: #101c27;
  display: flex;
  justify-content: flex-end;

  align-items: center;
}
.log-out {
  width: 10%;
  height: 65%;
  background-color: #263949;
  border: none;
  text-align: center;
  font-size: 1rem;
  margin-right: 40px;
}
.log-in {
  width: 10%;
  height: 65%;
  background-color: #263949;
  border: none;
  text-align: center;
  font-size: 1rem;
  margin-right: 40px;
}
