* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(6, 62, 62);
}
.header {
  width: 100vw;
  height: 10vh;
  background-color: black;
}
.log-out {
  width: 15%;
  height: 10%;
  background-color: blue;
  color: white;
  text-align: center;
}
