* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #8899a6 #22303c, #15202b);
}
.header {
  width: 100vw;
  height: 10vh;
  background-color: black;
}
.log-out {
  width: 15%;
  height: 70%;
  background-color: blue;
  color: white;
  text-align: center;
}
